.config_btn {
    -fx-background-color: #e1e1e1;
    -fx-border-color: #a9a9a9;
    -fx-padding: 1 8;
    -fx-cursor: hand;
    -fx-pref-height: 24;
}

.config_btn:hover {
    -fx-background-color: #e5f1fa;
    -fx-border-color: #3f87d6;
}

.config_btn .graphic {
    -fx-pref-width: 16;
    -fx-min-width: 16;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/write_text.png");
    -fx-background-position: center center;
}