@import url("common.css");

#file_tag_edit_view {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-color: #cecece;
    /*-fx-effect: innershadow(three-pass-box, #000000, 3, 1, 0, 0);*/
}

/* Top */
#file_tag_edit_view #top {
    -fx-pref-height: 28;
    -fx-background-color: #ffffff;
}

#file_tag_edit_view #top .title {
    -fx-text-fill: #777777;
}

#file_tag_edit_view #top .close_btn {
    -fx-pref-width: 36;
    -fx-pref-height: 28;
    -fx-cursor: hand;
    -fx-background-image: url("../images/close4.png");
    -fx-background-size: 10 10;
    -fx-background-position: center center;
}

#file_tag_edit_view #top .close_btn:hover {
    -fx-background-color: #de172b;
    -fx-background-image: url("../images/close5.png");
}

/* Center */
#file_tag_edit_view #center {
    -fx-padding: 10 12 7 12;
}

#file_tag_edit_view #center #field_name {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdbdbd;
}

#file_tag_edit_view #center #field_value {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdbdbd;
    -fx-border-color: #137ad4;
}

/* Bottom */
#file_tag_edit_view #bottom {
    -fx-pref-height: 41;
    -fx-background-color: transparent;
}

#file_tag_edit_view #bottom .small_btn {
    -fx-padding: 0 3;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#file_tag_edit_view #bottom #traditional_btn .graphic {
    -fx-pref-width: 14;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/file_attributes.png");
    -fx-background-position: -17 1;
}

#file_tag_edit_view #bottom #character_btn .graphic {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/file_attributes.png");
    -fx-background-position: -32 1;
}

#file_tag_edit_view #bottom #traditional_btn .flag,
#file_tag_edit_view #bottom #character_btn .flag {
    -fx-pref-width: 10;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/arrow_down.png");
    -fx-background-size: 6 6;
    -fx-background-position: center center;
}

#file_tag_edit_view #bottom #capital_btn .graphic {
    -fx-pref-width: 16;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/file_attributes.png");
    -fx-background-position: -48 1;
}

#file_tag_edit_view #bottom .small_btn.active,
#file_tag_edit_view #bottom .small_btn:hover {
    -fx-background-color: #e5f1fa;
    -fx-border-color: #3f87d6;
}


#file_tag_edit_view #bottom .actions Label {
    -fx-background-color: #e1e1e1;
    -fx-border-color: #a9a9a9;
    -fx-padding: 1 10;
    -fx-cursor: hand;
}

#file_tag_edit_view  #bottom .actions Label:hover {
    -fx-background-color: #e5f1fa;
    -fx-border-color: #3f87d6;
}

#file_tag_edit_view #bottom .actions #apply_close {
    -fx-padding: 0 10;
    -fx-border-width: 2;
    -fx-border-color: #006acb;
}

#file_tag_edit_view #bottom .actions #apply_close:hover {
    -fx-padding: 1 11;
    -fx-border-width: 1;
}

#file_tag_edit_view #bottom .actions #apply_close .graphic {
    -fx-pref-width: 16;
    -fx-min-width: 16;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/apply.png");
    -fx-background-position: center center;
}

#file_tag_edit_view #bottom .actions #cancel_close .graphic {
    -fx-pref-width: 16;
    -fx-min-width: 16;
    -fx-pref-height: 16;
    -fx-background-image: url("../images/cancel.png");
    -fx-background-position: center center;
}

